

 <div class="row">
    <div class="span3" id="list-view">
      <ul class="well nav nav-pills nav-stacked">
        <li class="{{setActive(tString.id)}}" ng-repeat="tString in tStrings">
          <a  href="#/tstring/{{tString.id}}"> {{tString.source}}</a>
        </li>
      </ul>
    </div>

  <div class="span9">
    <span class="label">English</span>
    <div class="well" id="full-text">{{currentTString.source}}</div>
    <span class="label">Catalan</span>
    <div class="well">
      <textarea ng-model="currentTString.translation" style="width:100%" spellcheck="true">
      </textarea>
      <div class="btn-group">
        <button class="btn" id="js-copysource" ng-click="copyCurrentSource()">Copy source</button>
        <button class="btn" id="js-revert" ng-click="revertCurrent()">Revert</button>
        <button class="btn" ng-click="spellCheck(tString)">Spellcheck</button>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Suggestions</a></li>
      <li><a href="#">Details</a></li>
      <li><a href="#">Instructions</a></li>
      <li><a href="#">History</a></li>
    </ul>
    <div class="tab-content">
        <div class="well">Suggestion 1</div>
        <div class="well">Suggestion 2</div>
    </div>
  </div>

</div>